#Title{
    color: rgb(81, 81, 188);
    font-family: 'Courier New', Courier, monospace;
}
#TitleBar{
    display: flex;
    justify-content: space-around;
}
input{
    height: 5vh;

}

.search{
    color: black;
    height: 4vh;
    width: 5vw;
    border-radius: 30px;
    background-color: rgb(121, 121, 165);
}
.searchfill{
    color: black;
    height: 4vh;
    width: 15vw;
    border-radius: 30px;
}
.login{
    color: rgb(155, 123, 82);
    height: 4vh;
    width: 15vw;
    border-radius: 33px;
}


.p1{
    display: flex;
justify-content: space-evenly;
    color: rgb(55, 51, 52);
    border-radius: 30px;
   align-items: center;
    background-color: rgb(181, 155, 155);
    padding: 10%;
    margin: 10%;
    height: 8vh;
    width: 8vw;
}
.p2{
  display: flex;
justify-content: space-evenly;
    color: rgb(55, 51, 52);
    border-radius: 30px;
   align-items: center;
    background-color: rgb(181, 155, 155);
    padding: 10%;
    margin: 10%;
    height: 8vh;
    width: 8vw;
}
.p3{
   display: flex;
justify-content: space-evenly;
    color: rgb(55, 51, 52);
    border-radius: 30px;
   align-items: center;
    background-color: rgb(181, 155, 155);
    padding: 10%;
    margin: 10%;
    height: 8vh;
    width: 8vw;
}